.App {
  background: rgb(29, 155, 240) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

html::-webkit-scrollbar {
  width: 12px;
}
 

html::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
html::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 20px;
}


.heroSection::-webkit-scrollbar {
  width: 10px;
}
 
.heroSection::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.heroSection::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 20px;
}

.popular::-webkit-scrollbar {
  width: 10px;
}
 

.popular::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.popular::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 20px;
}

.sectionFriends::-webkit-scrollbar {
  width: 10px;
}
 

.sectionFriends::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.sectionFriends::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 20px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFriends{
  width: 250px;
  
}

.popular{
  display: none;
}

@media (min-width: 800px) {
  
  body{
    /* overflow-y: hidden; */
  }
  
  .App {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

  }
  
  .sectionFriends {
    padding: 2px;
    background: rgb(39, 161, 241);
    height: 100vh;
    width: 385px;
    overflow-y: scroll;
    overflow-x: hidden ;
  }

  .heroSection {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    
  }

  
  .popular {
    display: block;
    
    background:rgb(39, 161, 241);
    width: 350px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
