body{
  background: lightskyblue;
}
.App {
  background: lightslategray;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 35%;
  height: auto;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.6);
}

.insert{
  background: red;
  color: beige;
}

::placeholder{
  color:beige;
}

.btn_Plus{
  color: bisque;
  background: red;
  border-radius: 4px;
}

  
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  li{
    
    color: white;
  
  }
.btn_string{
  margin-left: 10px;
  background: white;
  border: none;
  border-radius: 3px;
}