body {
    font-family: 'Poppins', sans-serif;
}

.form_el  {
    padding: 10px;
    background-color: bisque;
    border: 1px solid rgb(250, 151, 30);
    transition: all 0.35s;
    font-family: 'Poppins', sans-serif;
}

.btn-submit {
    padding: 10px;
    background-color: rgb(245, 179, 99);
    border: none;
    transition: all 0.35s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: rgb(250, 151, 30);
    font-weight: bold;
    color: white;
}

.form_el:hover {
    background-color: rgb(221, 221, 221);
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    text-align: center;
}

form, .wrapper {
    text-align: center;
}
